:root {
  --header-height: 80px;
}
*{
  box-sizing: border-box;
}
html, body {
  margin: 0;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}
.car {
  border: 1px solid #888888;
  padding: 1.5em;
  margin: 1em;
  box-shadow: 2px 3px rgba(0,0,0,0.3);
}
.car .color {
  width: 100px;
  height: 100px;
  background: yellow;
}
.appbar {
  width: 100vw;
  height: var(--header-height);
  top: 0;
  left: 0;
}
.appbar, .menu {
  background: teal;
  padding: 1em;
  position: fixed;
}
.menu {
  top: var(--header-height);
  height: 100vh;
  width: 100vw;
  transition: all 0.3s 0.3s;
  color: white;
}
.menu.hidden {
  transform: translateX(-100vw);
}
.container-fluid {
  margin: 1em;
  margin-top: var(--header-height);
}
.menuIcon {
  height: 30px;
  margin-top: 10px;
  margin-left: 12px;
}
.menuIcon rect {
  fill: white;
  transition: all 0.6s;
}
.menuIcon rect:nth-child(1){
  transform-origin: left top;
}
.menuIcon rect:nth-child(3){
  transform-origin: left bottom;
}
.menuIcon rect.fadeOut {
  opacity: 0;
}
.menuIcon rect.rotateUp {
  transform: rotate(-45deg) translate(18px, 41px);
}
.menuIcon rect.rotateDown {
  transform: rotate(45deg) translate(17px, -14px);
}
#carlist {
  display: grid;
  grid-template-columns: 1fr;
}

#singleCar {
  transition: all 0.3s;
  transform: translateX(-100vw)
}
#singleCar.slideInCar{

  transform: translateX(0)
}
@media (min-width: 1000px)  {
  #carlist {
    grid-template-columns: 1fr 1fr;
  }

}

@media (min-width: 1300px)  {
  #carlist {
    grid-template-columns: 1fr 1fr 1fr;
  }

}
